@font-face {
    font-family: myFirstFont;
    src:url("resources/pixfont.otf");
}

* {
    text-align: center;
    color: #000000;
    background-color: #5e5e5e;
    font-family: myFirstFont;
}

.title {
    font-family: myFirstFont;
    font-size:60px;
    background-color:rgb(206, 206, 206);
    position:relative;
    top:40px;
}

.navbar {
    background-color:rgb(48, 48, 48);
    overflow:hidden;
    position:fixed;
    top:0;
    width:100%
}

.navbar a {
    float:left;
    color:#f2f2f2;
    background-color: rgb(48, 48, 48);
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:17px;
}

.navbar a:hover {
    background-color: #ddd;
    color:black;
}

.navbar a.active {
    background-color: #029660;
    color:white;
}