@font-face {
    font-family: myFirstFont;
    src:url("resources/fonts/pixelfont.otf");
}

* {
    text-align: center;
    color: #000000;
    /* background-color: #5e5e5e; */
    background-color: #4f6781;
    /* background-color: #1d6db5; */
    font-family: myFirstFont;
    z-index: -2;
}

.title {
    font-size:60px;
    /* background-color:rgb(206, 206, 206); */
    background-color: #CECECE;
    /* position:relative; */
    margin-top:57px;
    padding: 10px;
}

.navbar {
    background-color:rgb(48, 48, 48);
    overflow:hidden;
    position:fixed;
    top:0;
    width:100%;
    z-index: 0;
}

.navbar a {
    float:left;
    /* color:#f2f2f2; */
    color: #CECECE;
    background-color: rgb(48, 48, 48);
    padding:14px 16px;
    text-decoration:none;
    font-size:17px;
    z-index: 1;
    height:57.6px; 
}

.navbar a:hover {
    /* background-color: #ddd; */
    background-color: #CECECE;
    color:black;
    z-index: 1;
    cursor: pointer;
}

.navbar a.active {
    background-color: #029660;
    /* color:white; */
    color: #CECECE;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    cursor: pointer;
}

.fade {
    opacity: 1;
}

.fade-in {
    opacity: 1;
    transition: opacity 2s;
}

.fade-out {
    opacity: 0;
    transition: opacity 2s;
    pointer-events: none;
}

.veil {
    position: fixed;
    z-index: 0;
    background-color: black;
    width: 100%;
    height: 0%;
    transition: height 2s;
}

.veil-in {
    position: fixed;
    z-index: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    transition: height 2s;
}

.tabodd {
    width:100%;
}

.tab {
    /* background-color:rgb(206, 206, 206); */
    background-color: #CECECE;
    width:100%;
}